
@import utils

negro = #424242

*
	margin 0px
	padding 0px

body#tg-lp
	background-color #f6f6f6

header.row
	margin-top 1%
	p
		margin-top 2%

section#presentacion 

	background-color #ededed

	background: rgba(245,242,245,1);
	background: -moz-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 22%, rgba(246,246,246,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,242,245,1)), color-stop(22%, rgba(255,255,255,1)), color-stop(100%, rgba(246,246,246,1)));
	background: -webkit-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 22%, rgba(246,246,246,1) 100%);
	background: -o-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 22%, rgba(246,246,246,1) 100%);
	background: -ms-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 22%, rgba(246,246,246,1) 100%);
	background: linear-gradient(to bottom, rgba(245,242,245,1) 0%, rgba(255,255,255,1) 22%, rgba(246,246,246,1) 100%);	

	padding-top 2%
	margin-top 0px

	p
		text-align center		
	img
		margin 3% auto

	.regla-tres
		margin-top 8%
		font-size 1.2em
		color negro


section
	.tarjeta
		background-color white
		padding-left 2%
		padding-right 2%
		width 98%		
		margin-top 2%
		padding-bottom 3%
		bordes_redondeados(3px 3px 3px 3px)
		sombra_caja( 1px 1px 5px 0px rgba(0,0,0,0.13))

		.titulo
			border-bottom solid 1px #b8b4b8
			width 98%
			margin-bottom 2%
			
			h2
				margin-bottom 0%
				color negro

			.franja
				padding-bottom 0.1%
				padding-right 100%				
				background-color orange
				-webkit-border-bottom-right-radius: 10px
				-webkit-border-bottom-left-radius: 10px
				-moz-border-radius-bottomright: 10px
				-moz-border-radius-bottomleft: 10px
				border-bottom-right-radius: 10px
				border-bottom-left-radius: 10px
